.photo-grid {
  max-width: 1184px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 284px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 92px;
}

@media (max-width: 1279px) {
  .photo-grid {
    max-width: 928px;
    gap: 14px;
    grid-template-columns: repeat(3, 300px);
  }
}

@media (max-width: 1023px) {
  .photo-grid {
    max-width: 720px;
    gap: 16px;
    grid-template-columns: repeat(2, 352px);
    margin-top: 88px;
  }
}

@media (max-width: 767px) {
  .photo-grid {
    max-width: 400px;
    gap: 10px;
    grid-template-columns: repeat(2, 195px);
  }
}

@media (max-width: 424px) {
  .photo-grid {
    width: 90%;
    gap: 12px;
    grid-template-columns: 1fr;
    margin: 64px 16px;
  }
}