.place {
  max-width: 984px;
  display: grid;
  gap: 48px 40px;
  grid-template-columns: fit-content(460px) fit-content(484px);
  grid-template-rows: fit-content(460px) fit-content(460px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

@media (max-width: 1279px) {
  .place {
    gap: 48px 32px;
  }
}

@media (max-width: 1023px) {
  .place {
    margin-top: 73px;
    gap: 48px 28px;
  }
}

@media (max-width: 767px) {
  .place {
    margin-top: 50px;
    gap: 32px;
    grid-template-columns: 1fr;
  }
}